<%- include ("partials/header") %>

<%- include ("partials/navbar") %>

<div class="d-flex w-100 vh-90 text-bg-dark position-relative shadow">
    <div
      class="cover-container position-absolute top-0 left-0 start-0 w-100 h-100 mb-5"
      style="
        background-image: url('https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/cover-image.jpg');
        background-size: cover;
        background-position: center;
      "
    >
      <header
        class="mb-auto text-center d-flex flex-column align-items-center"
      ></header>
  
      <div class="px-3 my-5 pt-5 text-center text-dark hero">
        <p class="lead fs-1">Travel the World, smarter, handier and longer!</p>
        <p class="fs-5 text-dark">
          Know the secrets to travel planning.
          <a class="btn btn-success rounded-pill ml-2" href="#get-started">
            Get Started
          </a>
        </p>
      </div>
    </div>
  </div>
<section id="get-started">
  <div class="container pt-5">
    <p class="my-3 py-3 fst-italic fs-1">Get Started</p>
    <div class="row">
      <div class="col-xl-4 col-md-12 mb-3">
        <div class="bg-whit">
          <a href="/blog/get-inspired">
            <div class="card text-bg-dark border-2 border-whit br-0">
              <img
                src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Blogs/get-inspired.jpg"
                class="card-img fst-bold opacity-50"
                alt="man planning"
              />
              <div class="card-img-overlay">
                <h5
                  id="title-head"
                  class="card-title fs-4 w-100 h-100 d-flex justify-content-center align-items-center"
                >
                  Get Inspired
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-md-12 mb-3">
        <div class="bg-whit">
          <a href="blog/how-to-save-for-a-trip">
            <div class="card text-bg-dark border-2 border-whit br-0">
              <img
                src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Blogs/how-to-save-for-a-trip.jpg"
                class="card-img fst-bold opacity-50"
                alt="man planning"
              />
              <div class="card-img-overlay">
                <h5
                  id="title-head"
                  class="card-title fs-4 w-100 h-100 fs-3 d-flex justify-content-center align-items-center"
                >
                  How to save for a trip
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-md-12 mb-3">
        <div class="bg-whit">
          <a href="/blog/how-to-plan-a-trip">
            <div class="card text-bg-dark border-2 border-whit br-0">
              <img
                src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Blogs/how-to-plan-a-trip.jpg"
                class="card-img fst-bold opacity-50"
                alt="man planning"
              />
              <div class="card-img-overlay">
                <h5
                  id="title-head"
                  class="card-title fs-4 w-100 h-100 fs-3 d-flex justify-content-center align-items-center"
                >
                  How to plan a trip
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-12 mb-3">
        <div class="bg-whit">
          <a href="/blog/finding-accomodation">
            <div class="card text-bg-dark border-2 border-whit br-0">
              <img
                src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Blogs/finding-accomodation.jpg"
                class="card-img fst-bold opacity-50"
                alt="man planning"
              />
              <div class="card-img-overlay">
                <h5
                  id="title-head"
                  class="card-title fs-4 w-100 h-100 fs-3 d-flex justify-content-center align-items-center"
                >
                  Finding accomodation
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-md-12 mb-3">
        <div class="bg-white">
          <a href="blog/solo-female">
            <div class="card text-bg-dark border-2 border-whit br-0">
              <img
                src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Blogs/solo-female.jpg"
                class="card-img fst-bold opacity-50"
                alt="man planning"
              />
              <div class="card-img-overlay">
                <h5
                  id="title-head"
                  class="card-title fs-4 w-100 h-100 fs-3 d-flex justify-content-center align-items-center"
                >
                  Solo Female Travel
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-md-12 mb-3">
        <div class="bg-whit">
          <a href="blog/family-travel">
            <div class="card text-bg-dark border-2 border-whit br-0">
              <img
                src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Blogs/family-travel.jpg"
                class="card-img fst-bold opacity-50"
                alt="man planning"
              />
              <div class="card-img-overlay">
                <h5
                  id="title-head"
                  class="card-title fs-4 w-100 h-100 fs-3 d-flex justify-content-center align-items-center"
                >
                  Family Travel
                </h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid text-center mt-3" style="background-color: #111111">
  <div class="row mt-5 pt-2 mb-3 pb-2">
    <div class="col-md-12 col-xl-6 border-right p-4 mb-4">
      <p class="fs-3 m-0">Hi, I'm John Doe!</p>
      <p class="fs-3 m-0">a.k.a.</p>
      <p class="fs-3 mb-4">The Nomad.</p>
      <div
        class="mb-4 d-flex justify-content-center"
        style="height: 200px; width: 100%"
      >
        <img
          src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/The+Nomad.jpg"
          alt="The Nomad"
          class="border border-secondary border-2 rounded"
          style="height: 100%"
        />
      </div>
      <p class="text-center fs-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nam
        aut, corrupti amet dignissimos, laboriosam, placeat non debitis unde
        dolorem iusto id.
      </p>
    </div>
    <div class="col-md-12 col-xl-6 p-4">
      <p class="lead fs-2 mt-3 fw-semibold">Most Popular Blogs</p>
      <ul class="list-unstyled">
        <li class="mb-1">
          <a class="text-success" href="/blog/how-to-save-for-a-trip"
            >How to Save for a Trip</a
          >
        </li>
        <li class="mb-1">
          <a class="text-success" href="/blog/how-to-plan-a-trip"
            >5 Steps for Planning Your Trip</a
          >
        </li>
        <li class="mb-1">
          <a class="text-success" href="/blog/solo-female"
            >Solo Female Travel</a
          >
        </li>
        <li class="mb-1">
          <a class="text-success" href="/blog/finding-accomodation"
            >How to Find Great Accomodations</a
          >
        </li>
        <li class="mb-3">
          <a class="text-success" href="/blog/travel-scams-to-avoid"
            >5 Travel Scams to Avoid</a
          >
        </li>
      </ul>
      <p class="lead fs-3 pt-4 fw-medium">As featured on</p>
      <div class="row pt-2 mt-2 mt-4" id="featured">
        <div class="col-md-6 col-xl-3">
          <img src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Featured/BBC-Logo.jpg" alt="BBC" class="rounded" />
        </div>
        <div class="col-md-6 col-xl-3">
          <img
            src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Featured/Lonely-Planet-logo.jpg"
            alt="lonely planet"
            class="rounded"
          />
        </div>
        <div class="col-md-6 col-xl-3">
          <img
            src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Featured/National-Geographic-logo.webp"
            alt="Nat geo"
            class="rounded"
          />
        </div>
        <div class="col-md-6 col-xl-3">
          <img
            src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Featured/the-guardian-logo.jpg"
            alt="the guardian"
            class="rounded"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Carousel image size consistency maintenance -->

<div class="carousel-container container-fluid my-5" id="Places-to-visit">
  <p class="my-3 py-3 fst-italic fs-1 container">Places to Visit</p>
  <div id="carouselCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <div class="card text-bg-dark border-2 place-card">
              <img
                src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Places-to-visit/South-east-asia.jpg"
                class="card-img fst-bold opacity-50"
                alt="man planning"
              />
              <div class="card-img-overlay">
                <h5
                  id="title-head"
                  class="card-title fs-4 w-100 h-100 fs-3 d-flex justify-content-center align-items-center"
                >
                  South East Asia
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-bg-dark border-2 place-card">
              <img
                src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Places-to-visit/Middle-east.jpg"
                class="card-img fst-bold opacity-50"
                alt="man planning"
              />
              <div class="card-img-overlay">
                <h5
                  id="title-head"
                  class="card-title fs-4 w-100 h-100 fs-3 d-flex justify-content-center align-items-center"
                >
                  Middle East
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-bg-dark border-2 place-card">
              <img
                src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Places-to-visit/Africa.jpg"
                class="card-img fst-bold opacity-50"
                alt="man planning"
              />
              <div class="card-img-overlay">
                <h5
                  id="title-head"
                  class="card-title fs-4 w-100 h-100 fs-3 d-flex justify-content-center align-items-center"
                >
                  Africa
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div class="card text-bg-dark border-2 place-card">
              <img
                src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Places-to-visit/North-america.jpg"
                class="card-img fst-bold opacity-50"
                alt="man planning"
              />
              <div class="card-img-overlay">
                <h5
                  id="title-head"
                  class="card-title fs-4 w-100 h-100 fs-3 d-flex justify-content-center align-items-center"
                >
                  North America
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-bg-dark border-2 place-card">
              <img
                src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Places-to-visit/Oceania.jpg"
                class="card-img fst-bold opacity-50"
                alt="man planning"
              />
              <div class="card-img-overlay">
                <h5
                  id="title-head"
                  class="card-title fs-4 w-100 h-100 fs-3 d-flex justify-content-center align-items-center"
                >
                  Oceania
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-bg-dark border-2 place-card">
              <img
                src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Places-to-visit/South-america.jpg"
                class="card-img fst-bold opacity-50"
                alt="man planning"
              />
              <div class="card-img-overlay">
                <h5
                  id="title-head"
                  class="card-title fs-4 w-100 h-100 fs-3 d-flex justify-content-center align-items-center"
                >
                  South America
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon bg-danger rounded" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon bg-danger rounded" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="carousel-grid-container container-fluid my-5" id="Places-to-visit-grid">
  <p class="my-3 py-3 fst-italic fs-1 container">Places to Visit</p>
  <div class="row">
    <div class="col-md-4 mb-3">
      <img
        src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Places-to-visit/South-east-asia.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="col-md-4 mb-3">
      <img
        src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Places-to-visit/Middle-east.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="col-md-4 mb-3">
      <img
        src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Places-to-visit/Africa.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-3">
      <img
        src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Places-to-visit/North-america.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="col-md-4 mb-3">
      <img
        src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Places-to-visit/Oceania.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="col-md-4 mb-3">
      <img
        src="https://blog-server-1-assets.s3.us-east-1.amazonaws.com/public/images/Places-to-visit/South-america.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>

<% if (locals.newBlog && locals.newBlog.length > 0){ %>
<div class="container-fluid mt-5 pt-5">
  <p class="my-3 py-3 fst-italic fs-1">New Blogs</p>
  <div class="row my-5">
    <% newBlog.forEach((blog, index) => { %>
    <div class="col-xl-4 col-md-12 mb-3" data-title="<%= blog.title %>">
      <div class="bg-dark text-center">
        <form action="/remove" method="POST">
          <input type="hidden" name="index" value="<%= index %>" />
          <a href="/new-blog/<%= index %>">
            <div class="card text-bg-dark border-2 border-whit br-0">
              <img
                src="<%= blog.image %>"
                class="card-img fst-bold opacity-50"
                alt="<%= blog.title %>"
              />
              <div class="card-img-overlay">
                <h5
                  id="title-head"
                  class="card-title fs-4 w-100 h-100 d-flex justify-content-center align-items-center"
                >
                  <%= blog.title %>
                </h5>
              </div>
            </div>
          </a>
          <button type="submit" class="btn btn-danger remove-btn mt-1">
            Remove
          </button>
        </form>
      </div>
    </div>
    <% }); %>
  </div>
</div>
<% } %> <%-include ("partials/footer") %>
